* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pagination 꾸미기 */
/* pagination 이나 ul 이나 li에 적용되는 차이점 : border넣어서 확인 */
/* Pagination list item */
.pagination a {
  padding: 5px 10px;
  transition: background-color .5s;
}

.pagination li{
  color: black;
  float: left;
  list-style: none;
  /* border: 1px solid pink; */
}

.pagination a:hover:not(.active) {
  background-color: gainsboro;
}

/* link: 방문 전, visited: 방문 후, hover: 마우스오버시 active: 클릭시 */
.pagination a:link, 
.pagination a:visited, 
.pagination a:hover {
  color: black;
  text-decoration: none !important;
}

/* title hover시, underline이 나타나도록 */
.board_area a:hover {
  text-decoration: underline;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.loginbox {
  background-color: white;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}